// Published

%table
  %thead
    %tr
      %th
      %th Category
      %th Title
      %th Published
      %th Published at
      %th Eml
      %th Magestil
      %th Magensinus
      %th
      %th
  %tbody.sortable{ "data-url" => sortable_academy_courses_path }
    %tr
      %h3.left All
    - objects.each do |object|
      %tr{ id: "academy_course_#{object.id}" }
        %td= link_to "Sort Me", "#", class: "handle"
        %td= object.category.title
        %td= object.title
        %td= object.published
        %td= object.published_at
        %td= object.eml
        %td= object.magestil
        %td= object.magensinus
        %td= link_to "Show", academy_course_path(object)
        %td= link_to "Destroy", academy_course_path(object), method: :delete, data: { confirm: "Are you sure?" }
