// Document

= form_with model: object, local: true do |f|
  = render "lib/components/errors", object: object
  = f.hidden_field :document_magestil, value: true
  = f.hidden_field :document_box_magestil_cache
  .field
    = f.label :document_box_magestil
    = f.file_field :document_box_magestil unless object.document_box_magestil.presence
  - if object.document_box_magestil.presence
    .field
      = f.label :remove_document_box_magestil
      = f.check_box :remove_document_box_magestil
  .field
    = f.label :document_caption
    = f.text_field :document_caption
  .actions
    = f.submit "Save"
