// Form

= form_with model: object, local: true do |f|
  = render "lib/components/errors", object: object
  .field
    = f.label :academy_categories
    = f.collection_radio_buttons :academy_category_id, categories, :id, :title, include_hidden: false
  .field
    = f.label :title
    = f.text_field :title
  .field
    %trix-editor{ input: "description" }
    = f.hidden_field :description, id: "description"
  .field
    = f.label :published
    = f.check_box :published
  .field
    = f.label :published_at
    = f.datetime_select :published_at
  .field
    = f.label :enrollment_status
    = f.check_box :enrollment_status
  .field
    = f.label :enrollment_status_label
    = f.text_field :enrollment_status_label
  .field
    = f.label :external
    = f.check_box :external
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :eml
    = f.check_box :eml
  .field
    = f.label :magestil
    = f.check_box :magestil
  .field
    = f.label :magensinus
    = f.check_box :magensinus
  .field
    = f.label :tutors
    = f.collection_check_boxes :tutor_ids, tutors, :id, :name, include_hidden: false
  .actions
    = f.submit "Save"
