// Form

= form_with model: object, local: true do |f|
  = render "lib/components/errors", object: object
  = f.hidden_field :published_at, value: DateTime.now
  %fieldset
    .form-row
      .field
        = f.label :academy_categories
        .radiobutton
          = f.collection_radio_buttons :academy_category_id, categories, :id, :title, include_hidden: false
    .form-row
      .field
        = f.label :title
        .input
          = f.text_field :title
    .form-row
      .field
        .textarea
          = f.hidden_field :description, id: "description"
          %trix-editor{ input: "description" }
    .form-row
      .field
        .checkbox
          = f.check_box :published
          = f.label :published
    .form-row
      .field
        .checkbox
          = f.check_box :enrollment_status
          = f.label :enrollment_status
    .form-row
      .field
        = f.label :enrollment_status_label
        .input
          = f.text_field :enrollment_status_label
    .form-row
      .field
        .checkbox
          = f.check_box :external
          = f.label :external
    .form-row
      .field
        = f.label :url
        .input
          = f.text_field :url
    .form-row
      .field
        .checkbox
          = f.check_box :eml
          = f.label :eml
      .field
        .checkbox
          = f.check_box :magestil
          = f.label :magestil
      .field
        .checkbox
          = f.check_box :magensinus
          = f.label :magensinus
    .field
      - tutors.each do |tutor|
        .checkbox
          = check_box_tag 'academy_course[tutor_ids][]', tutor.id, object.tutors.include?(tutor), id: "academy_course_tutor_ids_#{tutor.id}"
          = f.label :tutor, tutor.name
    .separator.small
    .form-row
      .field
        .submit
          = f.button "Save", type: :submit, data: { disable_with: "Please wait a moment..." }, class: "button double-extra-large green wide"
