// Icon

= form_with model: object, local: true do |f|
  = render "lib/components/errors", object: object
  = f.hidden_field :icon, value: true
  = f.hidden_field :icon_box_cache
  .field
    = f.label :icon_box
    = f.file_field :icon_box unless object.icon_box.presence
  - if object.icon_box.presence
    .field
      = f.label :remove_icon_box
      = f.check_box :remove_icon_box
  .field
    = f.label :icon_caption
    = f.text_field :icon_caption
  .actions
    = f.submit "Save"
