// Cover

= form_with model: object, local: true do |f|
  = render "lib/components/errors", object: object
  = f.hidden_field :image_magestil, value: true
  = f.hidden_field :image_box_magestil_cache
  .field
    = f.label :image_box_magestil
    = f.file_field :image_box_magestil unless object.image_box_magestil.presence
  - if object.image_box_magestil.presence
    .field
      = f.label :remove_image_box_magestil
      = f.check_box :remove_image_box_magestil
  .field
    = f.label :image_caption
    = f.text_field :image_caption
  .actions
    = f.submit "Save"
