// Cover

= form_with model: object, local: true do |f|
  = render "lib/components/errors", object: object
  = f.hidden_field :image_magensinus, value: true
  = f.hidden_field :image_box_magensinus_cache
  .field
    = f.label :image_box_magensinus
    = f.file_field :image_box_magensinus unless object.image_box_magensinus.presence
  - if object.image_box_magensinus.presence
    .field
      = f.label :remove_image_box_magensinus
      = f.check_box :remove_image_box_magensinus
  .field
    = f.label :image_caption
    = f.text_field :image_caption
  .actions
    = f.submit "Save"
