// Misc

= form_with model: object, local: true, html: { autocomplete: false } do |f|
  %fieldset
    = legend("Course Theme")
    = errors(object)
    .form-row
      .field.col-medium-2-1
        = f.label :font_color_one
        .input
          = f.text_field :font_color_one
      .field.col-medium-2-1
        = f.label :font_color_two
        .input
          = f.text_field :font_color_two
    .form-row
      .field.col-medium-2-1
        = f.label :hover_color_one
        .input
          = f.text_field :hover_color_one
      .field.col-medium-2-1
        = f.label :hover_color_two
        .input
          = f.text_field :hover_color_two
    .form-row
      .field.col-medium-2-1
        = f.label :background_color_one
        .input
          = f.text_field :background_color_one
      .field.col-medium-2-1
        = f.label :background_color_two
        .input
          = f.text_field :background_color_two
    // .form-row
    //   .field.col-medium-3-1
    //     = f.label :gradient_color_one
    //     .input
    //       = f.text_field :gradient_color_one
    //   .field.col-medium-3-1
    //     = f.label :gradient_color_two
    //     .input
    //       = f.text_field :gradient_color_two
    //   .field.col-medium-3-1
    //     = f.label :gradient_color_fallback
    //     .input
    //       = f.text_field :gradient_color_fallback
    = submit_button(f, "Save")
