// Thumb

= form_with model: object, local: true do |f|
  = render "lib/components/errors", object: object
  = f.hidden_field :thumb_magestil, value: true
  = f.hidden_field :thumb_box_magestil_cache
  .field
    = f.label :thumb_box_magestil
    = f.file_field :thumb_box_magestil unless object.thumb_box_magestil.presence
  - if object.thumb_box_magestil.presence
    .field
      .checkbox
        = f.check_box :remove_thumb_box_magestil
        = f.label :remove_thumb_box_magestil
  .field
    = f.label :thumb_caption
    = f.text_field :thumb_caption
  .actions
    = f.submit "Save"
