// Form

= form_with model: object, local: true, html: { autocomplete: false } do |f|
  %fieldset
    = legend("Course Tutors")
    = errors(object)
    - if tutors.presence && params[:action] == "show" || params[:action] == "edit" || params[:action] == "update"
      .form-row
        - tutors.each do |tutor|
          .field.col-medium-2-1
            .checkbox
              = hidden_field_tag "academy_course[tutor_ids][]", ""
              = check_box_tag "academy_course[tutor_ids][]", tutor.id, object.tutors.include?(tutor), id: "academy_course_tutor_ids_#{tutor.id}"
              = f.label :tutor, tutor.name
    = submit_button(f, "Save")
