// Video

= form_with model: object, local: true, html: { autocomplete: false } do |f|
  = f.hidden_field :video, value: true
  %fieldset
    = legend("Video")
    = errors(object)
    .form-row
      .field.col-medium-2-1
        = f.label :video_box
        .input
          = f.text_field :video_box
      .field.col-medium-2-1
        = f.label :video_service
        .select
          = f.select :video_service, %w[vimeo youtube], selected: "youtube"
    .form-row
      .field
        = f.label :video_caption
        .input
          = f.text_field :video_caption
    = submit_button(f, "Save")
