// Edit

- if params_thumb || params_cover || params_body || params_misc
  = link_to "Back", edit_academy_course_path(@academy_course)
- else
  = link_to "Back", academy_courses_path

%h1 Editing academy_course

- if params_thumb
  = render "thumb", object: @academy_course
- elsif params_cover
  = render "cover", object: @academy_course
- elsif params_document
  = render "document", object: @academy_course
- elsif params_body
  = render "body", object: @academy_course
- elsif params_misc
  = render "misc", object: @academy_course
- else
  = render "form", object: @academy_course, categories: @academy_categories

= link_to "Misc", edit_academy_course_path(@academy_course, misc: "true")
= link_to "Thumb", edit_academy_course_path(@academy_course, thumb: "true")
= link_to "Cover", edit_academy_course_path(@academy_course, cover: "true")
= link_to "Document", edit_academy_course_path(@academy_course, document: "true")
= link_to "Show", @academy_course
