%h1 Listing academy_courses

%table
  %thead
    %tr
      %th
      %th Position
      %th Title
      %th Description
      %th Draft
      %th Published at
      %th Eml
      %th Magestil
      %th Magensinus
      %th
      %th
      %th
  %tbody.sortable{ "data-url" => sortable_academy_courses_path }
    - @academy_courses.each do |academy_course|
      %tr{ id: "academy_course_#{academy_course.id}" }
        %td= link_to "Sort Me", "#", class: "handle"
        %td= academy_course.position
        %td= academy_course.title
        %td= academy_course.description
        %td= academy_course.draft
        %td= academy_course.published_at
        %td= academy_course.eml
        %td= academy_course.magestil
        %td= academy_course.magensinus
        %td= link_to "Show", academy_course
        %td= link_to "Edit", edit_academy_course_path(academy_course)
        %td= link_to "Destroy", academy_course, method: :delete, data: { confirm: "Are you sure?" }
%br
= link_to "New Academy course", new_academy_course_path
