// Index

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to courses_back_url, class: "link medium gray" do
          .icon.left
            = image_tag "icons/chevron_left.png"
          Back
  = link_to "New Academy course", new_academy_course_path, class: "button green extra-large right"
.container-middle.left
  .board-medium.altai-center
    .content
      .content-box
        .content-item
          %h3.lighter
            Courses
    - if @academy_courses.presence
      = render "all", objects: @academy_courses
    - else
      = blankslate
.container-bottom.left
