// Show

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to "Back", academy_courses_path, class: "link small gray"
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    - if params_icon
      = render "icon", object: @academy_course
    - elsif params_icon_eml
      = render "icon_eml", object: @academy_course
    - elsif params_icon_magestil
      = render "icon_magestil", object: @academy_course
    - elsif params_icon_magensinus
      = render "icon_magensinus", object: @academy_course
    - elsif params_thumb
      = render "thumb", object: @academy_course
    - elsif params_thumb_eml
      = render "thumb_eml", object: @academy_course
    - elsif params_thumb_magestil
      = render "thumb_magestil", object: @academy_course
    - elsif params_thumb_magensinus
      = render "thumb_magensinus", object: @academy_course
    - elsif params_cover
      = render "cover", object: @academy_course
    - elsif params_cover_eml
      = render "cover_eml", object: @academy_course
    - elsif params_cover_magestil
      = render "cover_magestil", object: @academy_course
    - elsif params_cover_magensinus
      = render "cover_magensinus", object: @academy_course
    - elsif params_image
      = render "image", object: @academy_course
    - elsif params_image_eml
      = render "image_eml", object: @academy_course
    - elsif params_image_magestil
      = render "image_magestil", object: @academy_course
    - elsif params_image_magensinus
      = render "image_magensinus", object: @academy_course
    - elsif params_document
      = render "document", object: @academy_course
    - elsif params_document_eml
      = render "document_eml", object: @academy_course
    - elsif params_document_magestil
      = render "document_magestil", object: @academy_course
    - elsif params_document_magensinus
      = render "document_magensinus", object: @academy_course
    - elsif params_video
      = render "video", object: @academy_course
    - elsif params_body
      = render "body", object: @academy_course
    - elsif params_misc
      = render "misc", object: @academy_course
    - elsif params_theme
      = render "theme", object: @academy_course
    - elsif params_tutors
      = render "tutors",object: @academy_course, categories: @academy_categories, tutors: @academy_tutors
    - else
      = render "form", object: @academy_course, categories: @academy_categories, tutors: @academy_tutors

.container-bottom.left
