// Show

= link_to "Back", magestil_root_path
%p
  %b Title:
  = @magestil_equipment.title
%p
  %b Description:
  = @magestil_equipment.description
%p
  %b Body:
  = @magestil_equipment.body

= link_to "Edit", edit_magestil_equipment_path
