// All

%table
  %thead
    %tr
      %th Title
      %th Eml
      %th Magestil
      %th Magensinus
      %th
  %tbody
    - objects.each do |object|
      %tr
        %td= object.title
        %td= object.eml
        %td= object.magestil
        %td= object.magensinus
        %td= link_to "Show", wallet_category_path(object)
