= form_with model: @wallet_category, local: true do |f|
  = render "lib/components/errors", object: @wallet_category
  = f.hidden_field :cover, value: true
  = f.hidden_field :cover_box_cache
  .field
    = f.label :cover_box
    = f.file_field :cover_box unless @wallet_category.cover_box.presence
  - if @wallet_category.cover_box.presence
    .field
      = f.label :remove_cover_box
      = f.check_box :remove_cover_box
  .field
    = f.label :cover_caption
    = f.text_field :cover_caption
  .actions
    = f.submit "Save"
