// Form

= form_with model: object, local: true do |f|
  = render "lib/components/errors", object: object
  .field
    = f.label :title
    = f.text_field :title
  .field
    %trix-editor{ input: "description" }
    = f.hidden_field :description, id: "description"
  .field
    = f.label :published
    = f.check_box :published
  .field
    = f.label :wallet_type
    = f.select :wallet_type, ["students", "parents", "tutors", "other"]
  .field
    = f.label :eml
    = f.check_box :eml
  .field
    = f.label :magestil
    = f.check_box :magestil
  .field
    = f.label :magensinus
    = f.check_box :magensinus
  .actions
    = f.submit "Save"
