= form_with model: @wallet_category, local: true do |f|
  = render "lib/components/errors", object: @wallet_category
  = f.hidden_field :thumb, value: true
  = f.hidden_field :thumb_box_cache
  .field
    = f.label :thumb_box
    = f.file_field :thumb_box unless @wallet_category.thumb_box.presence
  - if @wallet_category.thumb_box.presence
    .field
      = f.label :remove_thumb_box
      = f.check_box :remove_thumb_box
  .field
    = f.label :thumb_caption
    = f.text_field :thumb_caption
  .actions
    = f.submit "Save"
