// Edit

- if params_thumb || params_cover
  = link_to "Back", edit_wallet_category_path(@wallet_category)
- else
  = link_to "Back", wallet_categories_path

%h1 Editing wallet_category

- if params_thumb
  = render "thumb", object: @wallet_category
- elsif params_cover
  = render "cover", object: @wallet_category
- else
  = render "form", object: @wallet_category

= link_to "Thumb", edit_wallet_category_path(@wallet_category, thumb: "true")
= link_to "Cover", edit_wallet_category_path(@wallet_category, cover: "true")
= link_to "Show", @wallet_category
