%h1 Listing wallet_categories

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Thumb
      %th Thumb box
      %th Thumb caption
      %th Cover
      %th Cover box
      %th Cover caption
      %th Published
      %th Eml
      %th Magestil
      %th Magensinus
      %th
      %th
      %th

  %tbody
    - @wallet_categories.each do |wallet_category|
      %tr
        %td= wallet_category.title
        %td= wallet_category.description
        %td= wallet_category.thumb
        %td= wallet_category.thumb_box
        %td= wallet_category.thumb_caption
        %td= wallet_category.cover
        %td= wallet_category.cover_box
        %td= wallet_category.cover_caption
        %td= wallet_category.published
        %td= wallet_category.eml
        %td= wallet_category.magestil
        %td= wallet_category.magensinus
        %td= link_to 'Show', wallet_category
        %td= link_to 'Edit', edit_wallet_category_path(wallet_category)
        %td= link_to 'Destroy', wallet_category, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Wallet category', new_wallet_category_path
\|
= link_to 'Wallet Dashboard', wallet_root_path
