// Index

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to wallet_root_path, class: "link medium gray" do
          .icon.left
            = image_tag "icons/chevron_left.png"
          Back
  = link_to "New Wallet category", new_wallet_category_path, class: "button green extra-large right"
.container-middle.left
  .board-medium.altai-center
    .content
      .content-box
        .content-item
          %h3.lighter Wallet Categories
    - if @wallet_categories.presence
      = render "all", objects: @wallet_categories
    - else
      = blankslate
    // = render "all", objects: @wallet_categories
    // = render "unpublished", objects: @unpublished_journal_articles
    // = render "scheduled",   objects: @scheduled_journal_articles
    // = render "published",   objects: @published_journal_articles
.container-bottom.left
