// Show

= link_to "Back", magensinus_root_path

%p
  %b Title:
  = @magensinus_newsletter.title
%p
  %b Description:
  = @magensinus_newsletter.description
%p
  %b Body:
  = @magensinus_newsletter.body
%p
  %b Success:
  = fetch_settings.newsletter_success
%p
  %b Failure:
  = fetch_settings.newsletter_failure

= link_to "Edit", edit_magensinus_newsletter_path
