// Show

= link_to "Back", magestil_root_path

%p
  %b Title:
  = @magestil_partnerships.title
%p
  %b Description:
  = @magestil_partnerships.description
%p
  %b Body:
  = @magestil_partnerships.body

= link_to "Edit", edit_magestil_partnerships_path
= link_to "Image", edit_magestil_partnerships_path(image: "true")
