// All

%table
  %thead
    %tr
      %th
      %th Academy section
      %th Text box
      %th Image box
      %th Document box
      %th Video box
      %th
      %th
      %th
  %tbody.sortable{ "data-url" => sortable_academy_course_section_section_assets_path(grandparent, parent) }
    - objects.each do |object|
      %tr{ id: "academy_section_asset_#{object.id}" }
        %td= link_to "Sort Me", "#", class: "handle"
        %td= object.section.title
        %td= object.text_box
        %td= object.image_box
        %td= object.document_box
        %td= object.video_box
        %td= link_to "Show", academy_course_section_section_asset_path(grandparent, parent, object)
        %td= link_to "Edit", edit_academy_course_section_section_asset_path(grandparent, parent, object)
        %td= link_to "Destroy", academy_course_section_section_asset_path(grandparent, parent, object), method: :delete, data: { confirm: "Are you sure?" }
