// Edit

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to academy_course_section_section_assets_path(@academy_course, @academy_section), class: "link medium gray" do
          .icon.left
            = image_tag "icons/chevron_left.png"
          Back
.container-middle.left
  .board-medium.altai-center
    - if params_text
      = render "text", grand_parent: @academy_course, parent: @academy_section, object: @academy_section_asset
    - if params_image
      = render "image", grand_parent: @academy_course, parent: @academy_section, object: @academy_section_asset
    - if params_document
      = render "document", grand_parent: @academy_course, parent: @academy_section, object: @academy_section_asset
    - if params_video
      = render "video", grand_parent: @academy_course, parent: @academy_section, object: @academy_section_asset
.container-bottom.left
