- if notice
  %p#notice= notice

= link_to "Back", academy_course_section_section_assets_path(@academy_course, @academy_section)

%p
  %b Academy section:
  = @academy_section_asset.section.title
%p
  %b Text:
  = @academy_section_asset.text
%p
  %b Text box:
  = @academy_section_asset.text_box
%p
  %b Image:
  = @academy_section_asset.image
%p
  %b Image box:
  = @academy_section_asset.image_box
%p
  %b Image caption:
  = @academy_section_asset.image_caption
%p
  %b Document:
  = @academy_section_asset.document
%p
  %b Document box:
  = @academy_section_asset.document_box
%p
  %b Document caption:
  = @academy_section_asset.document_caption
%p
  %b Video:
  = @academy_section_asset.video
%p
  %b Video box:
  = @academy_section_asset.video_box
%p
  %b Video caption:
  = @academy_section_asset.video_caption
%p
  %b Video service:
  = @academy_section_asset.video_service
%p
  %b Alignment:
  = @academy_section_asset.alignment
%p
  %b Position:
  = @academy_section_asset.position

= link_to "Edit", edit_academy_course_section_section_asset_path(@academy_course, @academy_section, @academy_section_asset)
