// Show

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        // = link_to "Dashboard", root_path, class: "link small gray"
.container-middle.left
  .board-large
    .launchpad
      .launchpad-box
        .launchpad-item.col-large-4-1
          = link_to "Magensinus", magensinus_root_path, class: "button wide text-center extra-large"
        .launchpad-item.col-large-4-1
          = link_to "Magestil", magestil_root_path, class: "button wide text-center extra-large"
        .launchpad-item.col-large-4-1
          = link_to "Journal", journal_root_path, class: "button wide text-center extra-large"
        .launchpad-item.col-large-4-1
          = link_to "Academy", academy_root_path, class: "button wide text-center extra-large"
        .launchpad-item.col-large-4-1
          = link_to "Wallet", wallet_root_path, class: "button wide text-center extra-large"
        // .launchpad-item.col-large-4-1
        //   = link_to "Subscriptions", subscriptions_path, class: "button wide text-center extra-large"
        // .launchpad-item.col-large-4-1
        //   = link_to "Endorsements", endorsement_root_path, class: "button wide text-center extra-large"
        .launchpad-item.col-large-4-1
          = link_to "Partnerships", partnerships_root_path, class: "button wide text-center extra-large"
        // .launchpad-item.col-large-4-1
        //   = link_to "Legal", legal_root_path, class: "button wide text-center extra-large"
.container-bottom.left
