// Show

%h1 Dashboard
.launchpad
  .launchpad-box
    .launchpad-item
      = link_to "Magestil Dashboard", magestil_root_path, class: "button wide text-center large"
    .launchpad-item
      = link_to "Magensinus Dashboard", magensinus_root_path, class: "button wide text-center large"
    .launchpad-item
      = link_to "Journal Dashboard", journal_root_path, class: "button wide text-center large"
    .launchpad-item
      = link_to "Academy Dashboard", academy_root_path, class: "button wide text-center large"
    .launchpad-item
      = link_to "Wallet Dashboard", wallet_root_path, class: "button wide text-center large"
    .launchpad-item
      = link_to "Subscriptions Dashboard", subscriptions_path, class: "button wide text-center large"
    .launchpad-item
      = link_to "Endorsements", endorsement_root_path, class: "button wide text-center large"
    .launchpad-item
      = link_to "Partnerships", partnerships_root_path, class: "button wide text-center large"
    .launchpad-item
      = link_to "Legal", legal_root_path, class: "button wide text-center large"
