%h1 Dashboard
%nav
  %div
    = link_to 'Magensinus Dashboard', magensinus_root_path
  %div
    = link_to 'Journal Dashboard', journal_root_path
  %div
    = link_to 'Academy Dashboard', academy_root_path
  %div
    = link_to 'Wallet Dashboard', wallet_root_path
  %div
    = link_to 'Subscriptions Dashboard', subscriptions_path
