// All

.content
  .content-box.sortable{ "data-url" => sortable_magensinus_about_assets_path }
    .content-item
      %h3.gray-700-cl.sans.lighter Magensinus About Assets
    - objects.each do |object|
      .content-item{ id: "magensinus_about_asset_#{object.id}" }
        .content-top.white-bg
          = link_to "Sort Me", "#", class: "off link gray-light left handle"
          %p.small.right.auto.blue-300-cl
            %strong Type:
            = asset_type(object)
        .toggle-box.wide.left
          .content-middle.white-bg
            = assets_renderer(object)
          .content-bottom.white-bg
            = render partial: "magensinus/about_assets/content_nav", locals: { object: object }
