// All

.content
  .content-box.sortable{ "data-url" => sortable_magensinus_about_assets_path }
    .content-item
      %h3.gray-700-cl.sans.lighter Magensinus About Assets
    - objects.each do |object|
      .content-item{ id: "magensinus_about_asset_#{object.id}" }
        .content-top.white-bg
          = link_to "Sort Me", "#", class: "off link gray-light left handle"
          %p.small.right.auto.blue-300-cl
            %strong Type:
            = asset_type(object)
        .toggle-box.wide.left
          .content-middle.white-bg
            - if object.image == true
              .trix.image.altai-center
                = image_tag object.image_box_url.to_s
                = object.image_caption
            - if object.video == true
              .trix.video
                %iframe{ allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: "", frameborder: "0", height: "378", src: "https://www.youtube.com/embed/#{object.video_box}", width: "672" }
            - if object.text == true
              .trix
                = safe_join([object.text_box.html_safe])
          .content-bottom.white-bg
            .content-nav.right
              .content-nav-box
                .content-nav-item
                  = link_to "Destroy", magensinus_about_asset_path(object), method: :delete, data: { confirm: "Are you sure?" }, class: "link gray-light left"
                .content-nav-item.pg-0-0-0-16
                  - if object.image == true
                    = link_to "Edit", edit_magensinus_about_asset_path(object, image: true), class: "button yellow left"
                  - if object.video == true
                    = link_to "Edit", edit_magensinus_about_asset_path(object, video: true), class: "button yellow left"
                  - if object.text == true
                    = link_to "Edit", edit_magensinus_about_asset_path(object, text: true), class: "button yellow left"
