// Show

= link_to "Back", magensinus_about_assets_path

%p
  %b Image:
  = @magensinus_about_asset.image
%p
  %b Image box:
  = @magensinus_about_asset.image_box
%p
  %b Image caption:
  = @magensinus_about_asset.image_caption

= link_to "Edit", edit_magensinus_about_asset_path(@magensinus_about_asset)
