// Thumb

= form_with model: object, url: url, local: true, html: { autocomplete: false } do |form|
  = form.hidden_field :thumb, value: true
  = form.hidden_field :thumb_box_cache
  %fieldset
    = legend("Thumb")
    = errors(object)
    - if object.thumb_box.presence
      .form-row
        .field.col-medium-2-1
          = link_to "View Thumb", object.thumb_box_url, target: :blank, "data-featherlight": "#{object.thumb_box_url}", class: "button extra-large white wide"
        .field.col-medium-2-1
          .checkbox
            = form.check_box :remove_thumb_box
            = form.label :remove_thumb
    .form-row
      .field
        = form.label :thumb
        .file
          = form.file_field :thumb_box, id: "thumb_box"
          = form.label :upload_thumb, for: "thumb_box", class: "button extra-large blue wide"
          = reference_size(size)
    .form-row
      .field
        = form.label :thumb_caption
        .input
          = form.text_field :thumb_caption
    = submit_button(form, "Save")
