// Show

= link_to "Back", magestil_root_path

%p
  %b Title:
  = @magestil_parents.title
%p
  %b Description:
  = @magestil_parents.description
%p
  %b Body:
  = @magestil_parents.body

= link_to "Edit", edit_magestil_parents_path
= link_to "Image", edit_magestil_parents_path(image: "true")
