// Show

= link_to "Back", magestil_root_path

%p
  %b Title:
  = @magestil_home.title
%p
  %b Description:
  = @magestil_home.description
%p
  %b Body:
  = @magestil_home.body

= link_to "Edit", edit_magestil_home_path
