// Form

= form_with model: object, local: true do |f|
  %fieldset
    = legend("Tutor")
    = errors(object)
    .form-row
      .field.col-medium-2-1
        = f.label :name
        .input
          = f.text_field :name
      .field.col-medium-2-1
        = f.label :surname
        .input
          = f.text_field :surname
    .form-row
      .field
        .textarea
          = f.hidden_field :biography, id: "biography"
          %trix-editor{ input: "biography" }

    .separator.small
    .form-row
      = submit_button_misc(f, "Save")
