// Form

= form_with model: object, local: true do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :surname
    = f.text_field :surname
  .field
    = f.label :biography
    = f.text_area :biography
  .actions
    = f.submit "Save"
