// Form

= form_with model: object, local: true do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :surname
    = f.text_field :surname
  .field
    %trix-editor{ input: "biography" }
    = f.hidden_field :biography, id: "biography"
  .actions
    = f.submit "Save"
