// Image

= form_with model: object, local: true, html: { autocomplete: false } do |f|
  = f.hidden_field :image, value: true
  = f.hidden_field :image_box_cache
  %fieldset
    = legend("Course Image")
    = errors(object)
    - if object.image_box.presence
      .form-row
        .field.col-medium-2-1
          = link_to "View File", object.image_box_url, target: :blank, "data-featherlight": "#{object.image_box_url}", class: "button extra-large white wide"
        .field.col-medium-2-1
          .checkbox
            = f.check_box :remove_image_box
            = f.label :remove_file
    .form-row
      .field
        = f.label :image
        .file
          = f.file_field :image_box, placeholder: "Upload File", id: "image_box"
          = f.label :upload_file, for: "image_box", class: "button extra-large blue wide"
          %p.reference
            %strong Size:
            Width: 512px | Height: 512px
    .form-row
      .field
        = f.label :image_caption
        .input
          = f.text_field :image_caption, autocomplete: false
    = submit_button(f, "Save")
