// Show

= link_to "Back", magensinus_root_path

%p
  %b Title:
  = @magensinus_schools.title
%p
  %b Description:
  = @magensinus_schools.description
%p
  %b Body:
  = @magensinus_schools.body

= link_to "Edit", edit_magensinus_schools_path
