// Form

= form_with model: [parent, object], url: academy_course_course_tutor_path(parent), local: true do |f|
  = render "lib/components/errors", object: object
  .field
    = f.label :coordinator
    = f.check_box :coordinator
  .actions
    = f.submit "Save"
