// All

.list
  .list-box.sortable{ "data-url": sortable_academy_course_sections_path(parent) }
    - objects.each do |object|
      .list-item.col-medium-1-1{ id: "academy_section_#{object.id}" }
        .list-middle
          .list-left
            = link_to "#", class: "link medium gray pg-12 handle" do
              .icon.left
                = image_tag "icons/swap_vert.png"
          .list-center
            %p= object.title
          .list-right
            = link_to academy_course_section_path(parent, object), class: "link medium gray pg-12" do
              .icon.left
                = image_tag "icons/arrow_forward.png"
