// Form

= form_with model: [parent, object], url: academy_section_form_url, local: true do |f|
  = hidden_field :academy_course_id, value: parent.id
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :published
    = f.check_box :published
  .actions
    = f.submit "Save"
