// Form

= form_with model: [parent, object], url: academy_section_form_url, local: true do |f|
  = hidden_field :academy_course_id, value: parent.id
  %fieldset
    .form-row
      .field
        = f.label :title
        .input
          = f.text_field :title
    .form-row
      .field
        .checkbox
          = f.check_box :published
          = f.label :published
    = submit_button(f, "Save")
