// All

%table
  %thead
    %tr
      %th
      %th Title
      %th Url
      %th
      %th
  %tbody.sortable{ "data-url" => sortable_magensinus_networks_path }
    - objects.each do |object|
      %tr{ id: "magensinus_network_#{object.id}" }
        %td= link_to "Sort Me", "#", class: "handle"
        %td= object.title
        %td= object.url
        %td= object.position
        %td= link_to "Show", magensinus_network_path(object)
