// Edit

%h1 Editing magensinus_network

- if params_thumb
  = render "thumb", object: @magensinus_network
- else
  = render "form", object: @magensinus_network

= link_to "Show", @magensinus_network

= link_to "Thumb", edit_magensinus_network_path(@magensinus_network, thumb: "true")
= link_to "Back", magensinus_networks_path
