// All

.list
  .list-box.sortable{ "data-url": sortable_magestil_networks_path }
    - objects.each do |object|
      .list-item.col-medium-2-1{ id: "magestil_network_#{object.id}" }
        .list-middle
          .list-left
            = link_to "#", class: "link medium gray pg-12 handle" do
              .icon.left
                = image_tag "icons/swap_vert.png"
          .list-center
            %p= object.title
          .list-right
            = link_to magestil_network_path(object), class: "link medium gray pg-12" do
              .icon.left
                = image_tag "icons/arrow_forward.png"
