// Thumb

= form_with model: object, url: magestil_network_form_url, local: true do |f|
  = render "lib/components/errors", object: object
  = f.hidden_field :thumb, value: true
  = f.hidden_field :thumb_box_cache
  .field
    = f.label :thumb_box
    = f.file_field :thumb_box unless object.thumb_box.presence
  - if object.thumb_box.presence
    .field
      .checkbox
        = f.label :remove_thumb_box
        = f.check_box :remove_thumb_box
  .field
    = f.label :thumb_caption
    = f.text_field :thumb_caption
  .actions
    = f.submit "Save"
