// Edit

= link_to "Back", magestil_networks_path

%h1 Editing magestil_network

- if params_thumb
  = render "thumb", object: @magestil_network
- else
  = render "form", object: @magestil_network

= link_to "Show", @magestil_network

= link_to "Thumb", edit_magestil_network_path(@magestil_network, thumb: "true")
