// New

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to magestil_networks_path, class: "link medium gray" do
          .icon.left
            = image_tag "icons/chevron_left.png"
          Back

.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    - if params_thumb
      = render partial: "thumb", locals: { object: @magestil_network }
    - else
      = render "form", object: @magestil_network
.container-bottom.left
