= form_with model: @magensinus_courses, local: true do |f|
  - if @magensinus_courses.errors.any?
    #error_explanation
      %h2= "#{pluralize(@magensinus_courses.errors.count, "error")} prohibited this magensinus_courses from being saved:"
      %ul
        - @magensinus_courses.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :meta_title
    = f.text_field :meta_title
  .field
    = f.label :meta_description
    = f.text_area :meta_description
  .field
    = f.label :meta_image_box
    = f.text_field :meta_image_box
  .field
    = f.label :meta_url
    = f.text_field :meta_url
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :body
    = f.text_area :body
  .actions
    = f.submit 'Save'
