%p#notice= notice

%p
  %b Meta title:
  = @magensinus_courses.meta_title
%p
  %b Meta description:
  = @magensinus_courses.meta_description
%p
  %b Meta image box:
  = @magensinus_courses.meta_image_box
%p
  %b Meta url:
  = @magensinus_courses.meta_url
%p
  %b Title:
  = @magensinus_courses.title
%p
  %b Description:
  = @magensinus_courses.description
%p
  %b Body:
  = @magensinus_courses.body

= link_to 'Edit', edit_magensinus_courses_path
