// Show

= link_to "Back", magensinus_root_path

%p
  %b Title:
  = @magensinus_courses.title
%p
  %b Description:
  = @magensinus_courses.description
%p
  %b Body:
  = @magensinus_courses.body

= link_to "Edit", edit_magensinus_courses_path
