// Show

= image_tag @magensinus_home.image_box_url.to_s

%p
  %b Meta title:
  = @magensinus_home.meta_title
%p
  %b Meta description:
  = @magensinus_home.meta_description
%p
  %b Meta image box:
  = @magensinus_home.meta_image_box
%p
  %b Meta url:
  = @magensinus_home.meta_url
%p
  %b Title:
  = @magensinus_home.title
%p
  %b Description:
  = @magensinus_home.description
%p
  %b Body:
  = @magensinus_home.body

= link_to 'Edit', edit_magensinus_home_path
= link_to 'Magensinus Dashboard', magensinus_root_path
