// Show

= link_to "Back", magensinus_root_path

%p
  %b Title:
  = @magensinus_home.title
%p
  %b Description:
  = @magensinus_home.description
%p
  %b Body:
  = @magensinus_home.body

= link_to "Edit", edit_magensinus_home_path
