// Meta tags

= form_with model: object, local: true do |f|
  = render "lib/components/errors", object: object
  %fieldset
    .form-row
      .field
        = f.label :meta_title
        .input
          = f.text_field :meta_title
    .form-row
      .field
        = f.label :meta_description
        .input
          = f.text_area :meta_description
    .form-row
      .field
        = f.label :meta_image_box
        .input
          = f.text_field :meta_image_box
    .form-row
      .field
        = f.label :meta_url
        .input
          = f.text_field :meta_url
    .separator.small
    .form-row
      .field
        .submit
          = f.button "Save", type: :submit, data: { disable_with: "Please wait a moment..." }, class: "button double-extra-large green wide"
