// Show

= link_to "Back", magestil_root_path

%p
  %b Title:
  = @magestil_newsletter.title
%p
  %b Description:
  = @magestil_newsletter.description
%p
  %b Body:
  = @magestil_newsletter.body

= link_to "Edit", edit_magestil_newsletter_path
= link_to "Image", edit_magestil_newsletter_path(image: "true")
