// Form

= form_with model: object, local: true, html: { autocomplete: false } do |f|
  %fieldset
    = legend("Magestil About")
    = errors(object)
    .form-row
      .field
        = f.label :title
        .input
          = f.text_field :title
    .form-row
      .field
        = f.label :description
        .textarea
          = f.hidden_field :description, id: "description"
          %trix-editor{ input: "description" }
    // .form-row
    //   .field
    //     = f.label :body
    //     .textarea.body
    //       = f.hidden_field :body, id: "body"
    //       %trix-editor{ input: "body" }
    = submit_button(f, "Save")
