// All

%table
  %tbody
    - objects.each do |object|
      %tr
        - if object.text == true
          %td= object.text_box
        - if object.image == true
          %td= image_tag object.image_box_url.to_s
          %td= object.image_caption
        - if object.video == true
          %td= object.video_box
          %td= object.video_caption
        %td
          - if object.text == true
            = link_to "Edit", edit_journal_article_asset_path(parent, object, text: true)
          - if object.image == true
            = link_to "Edit", edit_journal_article_asset_path(parent, object, image: true)
          - if object.video == true
            = link_to "Edit", edit_journal_article_asset_path(parent, object, video: true)
        %td= link_to "Destroy", journal_article_asset_path(parent, object), method: :delete, data: { confirm: "Are you sure?" }
