= form_with model: @journal_asset, url: journal_asset_form_url(@journal_article, @journal_asset), local: true do |f|
  = render 'form_errors'
  = f.hidden_field :text, value: true
  .field
    %legend Text
  .field
    = f.label :text_box
    = f.text_area :text_box
  .actions
    = f.submit 'Save'
