= form_with model: @journal_asset, url: journal_asset_form_url(@journal_article, @journal_asset), local: true do |f|
  = render 'form_errors'
  = f.hidden_field :image, value: true
  .field
    %legend Image
  .field
    = f.label :image_box
    = f.text_field :image_box
  .field
    = f.label :image_caption
    = f.text_field :image_caption
  .actions
    = f.submit 'Save'
