// Text

= form_with model: @journal_asset, url: journal_asset_form_url, local: true do |f|
  = render "lib/components/errors", object: @journal_asset
  = f.hidden_field :text, value: true
  .field
    = f.label :text_box
    = f.text_area :text_box
  .actions
    = f.submit "Save"
