%h1 Magensinus Dashboard

%nav
  %div
    = link_to "Dashboard", root_path
  // %div
  //   = link_to "Settings", magensinus_settings_path
  %div
    = link_to "Home", magensinus_home_path
  %div
    = link_to "About", magensinus_about_path
  %div
    = link_to "Quality", magensinus_quality_path
  %div
    = link_to "Courses", magensinus_courses_path
  %div
    = link_to "Articles", magensinus_articles_path
  %div
    = link_to "Contact", magensinus_contact_path
  %div
    = link_to "Newsletter", magensinus_newsletter_path
  %div
    = link_to "Terms & Conditions", magensinus_terms_and_conditions_path
%nav
  %h3 Plugins
  %div
    = link_to "Networks", magensinus_networks_path
