// Show

= link_to "Back", magestil_root_path

// = image_tag @magestil_campus.image_box_url.to_s

%p
  %b Meta title:
  = @magestil_campus.meta_title
%p
  %b Meta description:
  = @magestil_campus.meta_description
%p
  %b Meta image box:
  = @magestil_campus.meta_image_box
%p
  %b Meta url:
  = @magestil_campus.meta_url
%p
  %b Title:
  = @magestil_campus.title
%p
  %b Description:
  = @magestil_campus.description
%p
  %b Body:
  = @magestil_campus.body

= link_to "Edit", edit_magestil_campus_path
