%h1 Listing academy_categories

%table
  %thead
    %tr
      %th
      %th Title
      %th Published
      %th Eml
      %th Magestil
      %th Magensinus
      %th
      %th
      %th
  %tbody.sortable{ "data-url" => sortable_academy_categories_path }
    - @academy_categories.each do |academy_category|
      %tr{ id: "academy_category_#{academy_category.id}" }
        %td= link_to "Sort Me", "#", class: "handle"
        %td= academy_category.title
        %td= academy_category.published
        %td= academy_category.eml
        %td= academy_category.magestil
        %td= academy_category.magensinus
        %td= link_to "Show", academy_category
        %td= link_to "Edit", edit_academy_category_path(academy_category)
        %td= link_to "Destroy", academy_category, method: :delete, data: { confirm: "Are you sure?" }

= link_to "New Academy category", new_academy_category_path
