// Edit

- if params_thumb || params_cover
  = link_to "Back", edit_legal_article_path(@legal_article)
- else
  = link_to "Back", legal_articles_path

%h1 Editing legal_article

- if params_thumb
  = render "thumb", object: @legal_article
- elsif params_thumb_eml
  = render "thumb_eml", object: @legal_article
- elsif params_thumb_magestil
  = render "thumb_magestil", object: @legal_article
- elsif params_thumb_magensinus
  = render "thumb_magensinus", object: @legal_article
- elsif params_cover
  = render "cover", object: @legal_article
- elsif params_cover_eml
  = render "cover_eml", object: @legal_article
- elsif params_cover_magestil
  = render "cover_magestil", object: @legal_article
- elsif params_cover_magensinus
  = render "cover_magensinus", object: @legal_article
- else
  = render "form", object: @legal_article

%ul
  %li= link_to "Thumb",            edit_legal_article_path(@legal_article, thumb: "true")
  %li= link_to "Thumb Eml",        edit_legal_article_path(@legal_article, thumb_eml: "true")
  %li= link_to "Thumb Magestil",   edit_legal_article_path(@legal_article, thumb_magestil: "true")
  %li= link_to "Thumb Magensinus", edit_legal_article_path(@legal_article, thumb_magensinus: "true")

%ul
  %li= link_to "Cover",            edit_legal_article_path(@legal_article, cover: "true")
  %li= link_to "Cover Eml",        edit_legal_article_path(@legal_article, cover_eml: "true")
  %li= link_to "Cover Magestil",   edit_legal_article_path(@legal_article, cover_magestil: "true")
  %li= link_to "Cover Magensinus", edit_legal_article_path(@legal_article, cover_magensinus: "true")

= link_to "Show", @legal_article
