// Show

= link_to "Back", magestil_root_path

// = image_tag @magestil_articles.image_box_url.to_s

%p
  %b Meta title:
  = @magestil_articles.meta_title
%p
  %b Meta description:
  = @magestil_articles.meta_description
%p
  %b Meta image box:
  = @magestil_articles.meta_image_box
%p
  %b Meta url:
  = @magestil_articles.meta_url
%p
  %b Title:
  = @magestil_articles.title
%p
  %b Description:
  = @magestil_articles.description
%p
  %b Body:
  = @magestil_articles.body

= link_to "Edit", edit_magestil_articles_path
