// Show

= link_to "Back", magestil_root_path

%p
  %b Title:
  = @magestil_articles.title
%p
  %b Description:
  = @magestil_articles.description
%p
  %b Body:
  = @magestil_articles.body

= link_to "Edit", edit_magestil_articles_path
= link_to "Image", edit_magestil_articles_path(image: "true")
