// Show

= link_to "Back", magestil_root_path

%p
  %b Title:
  = @magestil_settings.title
%p
  %b Description:
  = @magestil_settings.description
%p
  %b Url:
  = @magestil_settings.url

= link_to "Edit", edit_magestil_settings_path
