= form_for @subscriptions_email do |f|
  - if @subscriptions_email.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subscriptions_email.errors.count, "error")} prohibited this subscriptions_email from being saved:"
      %ul
        - @subscriptions_email.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Save'
