%p#notice= notice

%p
  %b Slug:
  = @subscriptions_email.slug
%p
  %b Email:
  = @subscriptions_email.email

= link_to 'Edit', edit_subscriptions_email_path(@subscriptions_email)
\|
= link_to 'Back', subscriptions_emails_path
