// Show

= link_to "Back", magensinus_root_path

%p
  %b Title:
  = @magensinus_articles.title
%p
  %b Description:
  = @magensinus_articles.description
%p
  %b Body:
  = @magensinus_articles.body

= link_to "Edit", edit_magensinus_articles_path
