// Form

= form_with model: object, local: true do |f|
  = render "lib/components/errors", object: object
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :active
    = f.check_box :active
  .actions
    = f.submit "Save"
