// Show

= link_to "Back", subscriptions_path

%p
  %b Active:
  = @subscription.active
%p
  %b Name:
  = @subscription.name
%p
  %b Surname:
  = @subscription.surname
%p
  %b Email:
  = @subscription.email

= link_to "Edit", edit_subscription_path(@subscription)
