// All

%table
  %thead
    %tr
      %th Title
      %th Eml
      %th Magestil
      %th Magensinus
      %th
  %tbody
    - @published_journal_articles.each do |journal_article|
      %tr
        %td= journal_article.title
        %td= journal_article.eml
        %td= journal_article.magestil
        %td= journal_article.magensinus
        %td= link_to "Show", journal_article_path(journal_article)
