// Cover

= form_with model: object, local: true do |f|
  = render "lib/components/errors", object: object
  = f.hidden_field :cover_magensinus, value: true
  = f.hidden_field :cover_box_magensinus_cache
  .field
    = f.label :cover_box_magensinus
    = f.file_field :cover_box_magensinus unless object.cover_box_magensinus.presence
  - if object.cover_box_magensinus.presence
    .field
      = f.label :remove_cover_box_magensinus
      = f.check_box :remove_cover_box_magensinus
  .field
    = f.label :cover_caption
    = f.text_field :cover_caption
  .actions
    = f.submit "Save"
