// Form

= form_with model: object, local: true do |f|
  = render "lib/components/errors", object: object
  = f.hidden_field :published_at, value: DateTime.now
  %fieldset
    .form-row
      .field
        = f.label :title
        .input
          = f.text_field :title
    .form-row
      .field
        .textarea
          = f.hidden_field :description, id: "description"
          %trix-editor{ input: "description" }
    .form-row
      .field.col-medium-3-1
        .checkbox
          = f.check_box :eml
          = f.label :eml
      .field.col-medium-3-1
        .checkbox
          = f.check_box :magestil
          = f.label :magestil
      .field.col-medium-3-1
        .checkbox
          = f.check_box :magensinus
          = f.label :magensinus
    .form-row
      .field.col-medium-3-1
        .checkbox
          = f.check_box :featured
          = f.label :featured
    .separator.small
    .form-row
      = submit_button_misc(f, "Save")
      .field.col-medium-2-1
        .checkbox
          = f.check_box :published
          = f.label :published
