// Unpublished

%table
  %thead
    %tr
      %th Title
      %th Published
      %th Published at
      %th Eml
      %th Magestil
      %th Magensinus
      %th
      %th
      %th
  %tbody
    %h3 Unpublished
    - @unpublished_journal_articles.each do |journal_article|
      %tr
        %td= journal_article.title
        %td= journal_article.published
        %td= journal_article.published_at
        %td= journal_article.eml
        %td= journal_article.magestil
        %td= journal_article.magensinus
        %td= link_to "Show", journal_article_path(journal_article)
        %td= link_to "Edit", edit_journal_article_path(journal_article)
        %td= link_to "Destroy", journal_article_path(journal_article), method: :delete, data: { confirm: "Are you sure?" }
