// Index

.container-top
  = render "lib/components/breadcrumbs", path: journal_root_path
  = link_to "New Journal Article", new_journal_article_path, class: "button green extra-large right"
.container-middle.left
  .board-medium.altai-center
    .content
      .content-box
        .content-item
          %h3.lighter Journal Articles
    .content
      .content-box
        .content-item.auto
          = link_to "Published", journal_articles_path, class: "link small purple"
        .content-item.auto
          = link_to "Unpublished", journal_articles_path(published: false), class: "link small purple"
    = render "all", objects: @journal_articles
.container-bottom.left
