%p#notice= notice

%p
  %b Meta title:
  = @magensinus_quality.meta_title
%p
  %b Meta description:
  = @magensinus_quality.meta_description
%p
  %b Meta image box:
  = @magensinus_quality.meta_image_box
%p
  %b Meta url:
  = @magensinus_quality.meta_url
%p
  %b Title:
  = @magensinus_quality.title
%p
  %b Description:
  = @magensinus_quality.description
%p
  %b Body:
  = @magensinus_quality.body

= link_to 'Edit', edit_magensinus_quality_path
