// All

.list
  .list-box.sortable{ "data-url" => sortable_wallet_category_assets_path(parent) }
    - objects.each do |object|
      .list-item.col-medium-1-1{ id: "wallet_asset_#{object.id}" }
        .list-middle
          .list-left
            = link_to "#", class: "link medium gray pg-12 handle" do
              .icon.left
                = image_tag "icons/swap_vert.png"
          .list-center
            %p= object.document_caption
          .list-right
            = link_to wallet_category_asset_path(parent, object, document: true), class: "link medium gray pg-12" do
              .icon.left
                = image_tag "icons/arrow_forward.png"
