// All

%table
  %thead
    %tr
      %th
      %th Wallet category
      %th Document caption
      %th Position
      %th
      %th
      %th
  %tbody.sortable{ "data-url" => sortable_wallet_category_assets_path(parent) }
    - objects.each do |object|
      %tr{ id: "wallet_asset_#{object.id}" }
        %td= link_to "Sort Me", "#", class: "handle"
        %td= object.category.title
        %td= object.document_caption
        %td= object.position
        %td= link_to "Show", object.document_box.url, target: "_blank"
        %td= link_to "Edit", edit_wallet_category_asset_path(parent, object, document: true)
        %td= link_to "Destroy", wallet_category_asset_path(parent, object), method: :delete, data: { confirm: "Are you sure?" }
