// Document

= form_with model: object, url: wallet_asset_form_url, class: "col-large-1-1", local: true do |f|
  = render "lib/components/errors", object: object
  %fieldset
    = f.hidden_field :document, value: true
    = f.hidden_field :document_box_cache
    .field-row
      .field.field.col-large-2-1
        = f.label :document_caption
        .input
          = f.text_field :document_caption
      // - if params_new || params_create
      .field.col-large-2-1
        = f.label :document_box
        .file
          = f.file_field :document_box
          // = f.file_field :document_box unless object.document_box.presence
    .form-row
      .field.col-large-3-1
        .submit.col-large-3-1
          = f.button "Save", data: { disable_with: "Saving..." }, class: "button wide extra-large green"
