%h1 Listing wallet_assets

%table
  %thead
    %tr
      %th Wallet category
      %th Document
      %th Document box
      %th Document caption
      %th Position
      %th
      %th
      %th

  %tbody
    - @wallet_assets.each do |wallet_asset|
      %tr
        %td= wallet_asset.category
        %td= wallet_asset.document
        %td= wallet_asset.document_box
        %td= wallet_asset.document_caption
        %td= wallet_asset.position
        %td= link_to "Show", wallet_category_asset_path(@wallet_category, wallet_asset)
        %td= link_to "Edit", edit_wallet_category_asset_path(@wallet_category, wallet_asset, document: true)
        %td= link_to "Destroy", wallet_category_asset_path(@wallet_category, wallet_asset), method: :delete, data: { confirm: "Are you sure?" }

%br

= link_to "New Wallet Document", new_wallet_category_asset_path(@wallet_category, document: "true")
