// Show

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to partnerships_identities_path, class: "link medium gray" do
          .icon.left
            = image_tag "icons/chevron_left.png"
          Back
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    - if params_thumb
      = render "thumb", object: @partnerships_identity
    - else
      = render "form", object: @partnerships_identity
.container-bottom.left
