// Show

= link_to "Back", magensinus_root_path

%p
  %b Title:
  = @magensinus_about.title
%p
  %b Description:
  = @magensinus_about.description
%p
  %b Body:
  = @magensinus_about.body

= link_to "Edit", edit_magensinus_about_path
