// Show

= link_to "Back", magensinus_root_path

= image_tag @magensinus_about.image_box_url.to_s

%p
  %b Meta title:
  = @magensinus_about.meta_title
%p
  %b Meta description:
  = @magensinus_about.meta_description
%p
  %b Meta image box:
  = @magensinus_about.meta_image_box
%p
  %b Meta url:
  = @magensinus_about.meta_url
%p
  %b Title:
  = @magensinus_about.title
%p
  %b Description:
  = @magensinus_about.description
%p
  %b Body:
  = @magensinus_about.body

= link_to "Edit", edit_magensinus_about_path
