// Misc

= form_with model: object, local: true, html: { autocomplete: false } do |f|
  %fieldset
    = legend("#{controller_name.capitalize}")
    = errors(object)
    .form-row
      .field.col-medium-2-1
        = f.label :address_one
        .input
          = f.text_field :address_one
      .field.col-medium-2-1
        = f.label :address_two
        .input
          = f.text_field :address_two
    .form-row
      .field.col-medium-3-1
        = f.label :postcode
        .input
          = f.text_field :postcode
      .field.col-medium-3-1
        = f.label :city
        .input
          = f.text_field :city
      .field.col-medium-3-1
        = f.label :country
        .input
          = f.text_field :country
    .form-row
      .field.col-medium-3-1
        = f.label :fax
        .input
          = f.text_field :fax
      .field.col-medium-3-1
        = f.label :phone
        .input
          = f.text_field :phone
      .field.col-medium-3-1
        = f.label :email
        .input
          = f.text_field :email
    = submit_button(f, "Save")
