%p#notice= notice

%p
  %b Meta title:
  = @magensinus_contact.meta_title
%p
  %b Meta description:
  = @magensinus_contact.meta_description
%p
  %b Meta image box:
  = @magensinus_contact.meta_image_box
%p
  %b Meta url:
  = @magensinus_contact.meta_url
%p
  %b Title:
  = @magensinus_contact.title
%p
  %b Description:
  = @magensinus_contact.description
%p
  %b Body:
  = @magensinus_contact.body

= link_to 'Edit', edit_magensinus_contact_path
\|
= link_to 'Magensinus Dashboard', magensinus_root_path
