// Show

= link_to "Back", magensinus_root_path

%p
  %b Title:
  = @magensinus_contact.title
%p
  %b Description:
  = @magensinus_contact.description
%p
  %b Body:
  = @magensinus_contact.body
%p
  %b Fax:
  = @magensinus_contact.fax
%p
  %b Phone:
  = @magensinus_contact.phone
%p
  %b Email:
  = @magensinus_contact.email
%p
  %b Address One:
  = @magensinus_contact.address_one
%p
  %b Address Two:
  = @magensinus_contact.address_two
%p
  %b Postcode:
  = @magensinus_contact.postcode
%p
  %b City:
  = @magensinus_contact.city
%p
  %b Country:
  = @magensinus_contact.country

= link_to "Edit", edit_magensinus_contact_path
