// Text

= form_with model: object, url: magestil_about_asset_form_url, local: true do |f|
  = f.hidden_field :text, value: true
  %fieldset
    = legend("Text")
    = errors(object)
    .form-row
      .field
        .textarea
          = f.hidden_field :text_box, id: "text_box"
          %trix-editor{ input: "text_box" }
    = submit_button(f, "Save")
