// Index

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to magestil_about_path, class: "link medium gray" do
          .icon.left
            = image_tag "icons/chevron_left.png"
          Back
.container-middle.left
  .board-double-extra-small
    = render "secondary_navigation", objects: @magestil_about_assets
  .board-medium
    - if @magestil_about_assets.presence
      = render "all", objects: @magestil_about_assets
    - else
      = blankslate
.container-bottom.left
