// Show

= link_to "Back", magestil_about_assets_path

%p
  %b Image:
  = @magestil_about_asset.image
%p
  %b Image box:
  = @magestil_about_asset.image_box
%p
  %b Image caption:
  = @magestil_about_asset.image_caption

= link_to "Edit", edit_magestil_about_asset_path(@magestil_about_asset)
