// Show

= link_to "Back", magestil_root_path

%p
  %b Title:
  = @magestil_tutors.title
%p
  %b Description:
  = @magestil_tutors.description
%p
  %b Body:
  = @magestil_tutors.body

= link_to "Edit", edit_magestil_tutors_path
= link_to "Image", edit_magestil_tutors_path(image: "true")
