// Show

= link_to "Back", magestil_root_path

// = image_tag @magestil_tutors.image_box_url.to_s

%p
  %b Meta title:
  = @magestil_tutors.meta_title
%p
  %b Meta description:
  = @magestil_tutors.meta_description
%p
  %b Meta image box:
  = @magestil_tutors.meta_image_box
%p
  %b Meta url:
  = @magestil_tutors.meta_url
%p
  %b Title:
  = @magestil_tutors.title
%p
  %b Description:
  = @magestil_tutors.description
%p
  %b Body:
  = @magestil_tutors.body

= link_to "Edit", edit_magestil_tutors_path
