// Show

.container-top
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to magestil_dashboard_path, class: "link medium gray" do
          .icon.left
            = image_tag "icons/chevron_left.png"
          Back
.container-middle.left
  .board-double-extra-small
    = render partial: "secondary_navigation"
  .board-medium
    - if params_misc
      = render partial: "misc", locals: { object: @magestil_contact }
    - else
      = render partial: "form", locals: { object: @magestil_contact }
.container-bottom.left
