// Show

= link_to "Back", magestil_root_path

= image_tag @magestil_contact.image_box_url.to_s

%p
  %b Meta title:
  = @magestil_contact.meta_title
%p
  %b Meta description:
  = @magestil_contact.meta_description
%p
  %b Meta image box:
  = @magestil_contact.meta_image_box
%p
  %b Meta url:
  = @magestil_contact.meta_url
%p
  %b Title:
  = @magestil_contact.title
%p
  %b Description:
  = @magestil_contact.description
%p
  %b Body:
  = @magestil_contact.body
%p
  %b Fax:
  = @magestil_contact.fax
%p
  %b Phone:
  = @magestil_contact.phone
%p
  %b Email:
  = @magestil_contact.email
%p
  %b Address One:
  = @magestil_contact.address_one
%p
  %b Address Two:
  = @magestil_contact.address_two
%p
  %b Postcode:
  = @magestil_contact.postcode
%p
  %b City:
  = @magestil_contact.city
%p
  %b Country:
  = @magestil_contact.country

= link_to "Edit", edit_magestil_contact_path
