// Show

= link_to "Back", magestil_root_path

%p
  %b Title:
  = @magestil_courses.title
%p
  %b Description:
  = @magestil_courses.description
%p
  %b Body:
  = @magestil_courses.body

= link_to "Edit", edit_magestil_courses_path
= link_to "Image", edit_magestil_courses_path(image: "true")
