%h1 Magestil Dashboard

%nav
  %div
    = link_to "Dashboard", root_path
  %div
    = link_to "Home", magestil_home_path
  %div
    = link_to "About", magestil_about_path
  %div
    = link_to "Courses", magestil_courses_path
  %div
    = link_to "Articles", magestil_articles_path
  %div
    = link_to "Campus", magestil_campus_path
  %div
    = link_to "Equipment", magestil_equipment_path
  %div
    = link_to "Students", magestil_students_path
  %div
    = link_to "Parents", magestil_parents_path
  %div
    = link_to "Tutors", magestil_tutors_path
  %div
    = link_to "Partnerships", magestil_partnerships_path
  %div
    = link_to "Contact", magestil_contact_path
  %div
    = link_to "Newsletter", magestil_newsletter_path


%nav
  %h3 Plugins
  %div
    = link_to "Networks", magestil_networks_path
