%h1 Magensinus Dashboard

%nav
  %div
    = link_to "Dashboard", root_path
  %div
    = link_to "Home", magestil_home_path
  %div
    = link_to "About", magestil_about_path
  %div
    = link_to "Courses", magestil_courses_path
  %div
    = link_to "Articles", magestil_articles_path
  %div
    = link_to "Contact", magestil_contact_path
  %div
    = link_to "Newsletter", magestil_newsletter_path
