// Show

= link_to "Back", magestil_root_path

%p
  %b Title:
  = @magestil_students.title
%p
  %b Description:
  = @magestil_students.description
%p
  %b Body:
  = @magestil_students.body

= link_to "Edit", edit_magestil_students_path
